<%- include('../components/head.ejs') %>
    </head>
    <body>
        <%- include('../components/header.ejs') %>
        <div class="container">
            <main>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Channels</h5>
                          <a href="/admin/channels" class="btn btn-success">Manage Channels</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">News Articles</h5>
                          <a href="/admin/articles" class="btn btn-success">Manage News Articles</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </main>
        </div>    
        <%- include('../components/footer.ejs') %> 
    </body>
<%- include('../components/end.ejs') %> 
